<?xml version="1.0" encoding="UTF-8"?>  
<configuration>  
	<contextName>logback02</contextName>
    <include resource="org/springframework/boot/logging/logback/base.xml" />  
  
    <root level="INFO">  
        <appender-ref ref="CONSOLE" />  
        <appender-ref ref="FILE" />  
    </root>
	<appender name="fileInfoLog"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--如果只是想要 Info 级别的日志，只是过滤 info 还是会输出 Error 日志，因为 Error 的级别高， 所以我们使用下面的策略，可以避免输出 
			Error 的日志 -->
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<!-- 过滤 Error -->
			<level>ERROR</level>
			<!-- 匹配到就禁止 -->
			<onMatch>DENY</onMatch>
			<!-- 没有匹配到就允许 -->
			<onMismatch>ACCEPT</onMismatch>
		</filter>
		<!-- <filter class="ch.qos.logback.classic.filter.LevelFilter">
			过滤 Error
			<level>WARN</level>
			匹配到就禁止
			<onMatch>DENY</onMatch>
			没有匹配到就允许
			<onMismatch>ACCEPT</onMismatch>
		</filter> -->
		<!--日志名称，如果没有File 属性，那么只会使用FileNamePattern的文件路径规则 如果同时有<File>和<FileNamePattern>，那么当天日志是<File>，明天会自动把今天 
			的日志改名为今天的日期。即，<File> 的日志都是当天的。 -->
		<!-- <File>info.${logback.appname}.log</File> -->
		<!--滚动策略，按照时间滚动 TimeBasedRollingPolicy -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--文件路径,定义了日志的切分方式——把每一天的日志归档到一个文件中,以防止日志填满整个磁盘空间 -->
			<FileNamePattern>info.%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<!--只保留最近90天的日志 -->
			<maxHistory>90</maxHistory>
			<!--用来指定日志文件的上限大小，那么到了这个值，就会删除旧的日志 -->
			<!--<totalSizeCap>1GB</totalSizeCap> -->
		</rollingPolicy>
		<!--日志输出编码格式化 -->
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d [%thread] %-5level %logger{36} %line - %msg%n</pattern>
		</encoder>
	</appender>
     <appender name="MY_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">  
       <Prudent>true</Prudent>  
       <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
           <fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>  
           <maxHistory>30</maxHistory>  
           <totalSizeCap>3GB</totalSizeCap>  
       </rollingPolicy>  
       <layout class="ch.qos.logback.classic.PatternLayout">  
           <Pattern> %d{yyyy-MM-dd HH:mm:ss} -%msg%n</Pattern>  
       </layout>  
       <encoder>  
           <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{35} - %msg%n</pattern>  
       </encoder>  
   </appender>
   <!--  <logger name="org.springframework.web" level="INFO"/>  
    <logger name="com.wpp.spike" level="WARN"/>   -->
    <!-- 测试环境+开发环境. 多个使用逗号隔开. -->  
    <springProfile name="test,dev">  
        <logger name="org.springframework.web" level="INFO">  
            <appender-ref ref="MY_FILE"/>  
        </logger>  
        <logger name="com.wpp.spike" level="INFO">
         <appender-ref ref="MY_FILE"/>  
        </logger>
    </springProfile>  
  
    <!-- 生产环境. -->  
    <springProfile name="prod">  
        <logger name="org.springframework.web" level="ERROR">  
            <appender-ref ref="FILE"/>  
        </logger>  
        <logger name="com.wpp.spike" level="ERROR" />  
    </springProfile> 
</configuration>  