<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wpp.spike.mapper.GoodMapper" >
  <resultMap id="BaseResultMap" type="com.wpp.spike.model.Good" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="goodname" property="goodname" jdbcType="VARCHAR" />
    <result column="goodprice" property="goodprice" jdbcType="DECIMAL" />
    <result column="inventory" property="inventory" jdbcType="INTEGER" />
    <result column="sellerid" property="sellerid" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, goodname, goodprice, inventory, sellerid, createtime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wpp.spike.model.Good" >
    insert into goods (id, goodname, goodprice, 
      inventory, sellerid, createtime
      )
    values (#{id,jdbcType=INTEGER}, #{goodname,jdbcType=VARCHAR}, #{goodprice,jdbcType=DECIMAL}, 
      #{inventory,jdbcType=INTEGER}, #{sellerid,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wpp.spike.model.Good" >
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="goodname != null" >
        goodname,
      </if>
      <if test="goodprice != null" >
        goodprice,
      </if>
      <if test="inventory != null" >
        inventory,
      </if>
      <if test="sellerid != null" >
        sellerid,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodname != null" >
        #{goodname,jdbcType=VARCHAR},
      </if>
      <if test="goodprice != null" >
        #{goodprice,jdbcType=DECIMAL},
      </if>
      <if test="inventory != null" >
        #{inventory,jdbcType=INTEGER},
      </if>
      <if test="sellerid != null" >
        #{sellerid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wpp.spike.model.Good" >
    update goods
    <set >
      <if test="goodname != null" >
        goodname = #{goodname,jdbcType=VARCHAR},
      </if>
      <if test="goodprice != null" >
        goodprice = #{goodprice,jdbcType=DECIMAL},
      </if>
      <if test="inventory != null" >
        inventory = #{inventory,jdbcType=INTEGER},
      </if>
      <if test="sellerid != null" >
        sellerid = #{sellerid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wpp.spike.model.Good" >
    update goods
    set goodname = #{goodname,jdbcType=VARCHAR},
      goodprice = #{goodprice,jdbcType=DECIMAL},
      inventory = #{inventory,jdbcType=INTEGER},
      sellerid = #{sellerid,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>